section {
  padding: 3% 0;
}

h2 {
  margin-bottom: 1em;
}

.min-vh-70 {
  min-height: 70vh;
}

#dot-nav{
  position: fixed;
  right: 10px;
  top: 50%;
  height: 100px;
  z-index: 999;
}
#dot-nav ul {
  list-style: none;
  margin:0;
  padding: 0;
}
#dot-nav li {
  position: relative;
  background-color: #bdc3c7;
  border:3px solid #bdc3c7;
  border-radius: 15px 15px 15px 15px;
  cursor: pointer;
  padding: 5px;
  height: 10px;
  margin: 10px 10px 0px 0px;
  width: 10px;
  vertical-align:bottom;
}
#dot-nav li.active, #dot-nav li:hover {
  background-color: #d63384;
}
#dot-nav a {
  outline: 0;
  vertical-align:top;
  margin: 0px 0px 0px 25px;
  position: relative;
  top:-5px;
}

.link-unstyled {
  &,
  &:visited,
  &:hover,
  &:active,
  &:focus,
  &:active:hover {
    font-style: inherit;
    color: inherit;
    background-color: transparent;
    font-size: inherit;
    text-decoration: none;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-family: inherit;
    border-radius: inherit;
    border: inherit;
    outline: inherit;
    box-shadow: inherit;
    padding: inherit;
    vertical-align: inherit;
  }
}


.on-hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,0,0.4);
}

.col:hover .on-hover {
  opacity: 1;
}



.greeting {
  font-family: "Pacifico";
}

.greeting-2 {
  font-family: "Libre+Baskerville";
  font-variant: small-caps;
}

.pink {
  color: #d63384;
}

.background1 {
  background-image: url(../i/background1.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 40vh;
  width: 100vw;
  padding:0;
  margin:0; 
}

.background2 {
  background-image: url(../i/background2.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 40vh;
  width: 100vw;
  padding:0;
  margin:0; 
}

@supports (-webkit-overflow-scrolling: touch) {
  .background1 { background-attachment: scroll;  
  } 
  .background2 { background-attachment: scroll;  
  } 
}

.social {
  padding-right: 10%;
}

.social li {
  list-style-type: none;
}

a {
  color: #f8f9fa;
}

a:hover {
  color: #d63384;
}

.social a {
  text-decoration: none;
  font-weight: 100;
  color: #d63384;
}

.social a:hover {
  color: #bdc3c7;
}

#publications p{
  font-size: 85%;
  margin-bottom: .3rem;
}

.emphesis {
  color: #d63384;
}

.insta-feed {
    min-height: 100%;
    min-width: 100%;
    object-fit: cover
}

.img-overlay {
  z-index:1;
  font-size: 1.2em;
  margin-top: -100px;
}




